<div class="row">                     
                <div class="col-lg-3 mt-5" *ngFor="let item of noticias" >       
                    <div class="text-center" >
                      <img src="{{ item.image_url }}" class="fotos" height="200px" width="200px">
                    </div>
                    <div class="text-center" >
                    <h6><strong>{{ item.title | slice:0:60 }}...</strong></h6>
                    </div>
                    <div class="row">
                        <div class="col-12" >
                            <p class="text-justify"> {{ item.summary | slice:0:60}} ...</p>                            
                        </div>
                        <div class="col-12">
                            <p>Fecha publicación : {{ item.published_at | date: 'd MMM y' }}</p>
                        </div>
                        <div class="col-12 text-center ">
                             <a (click)="agregarfavorito(item)" class="btn btn-warning text-white" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                              </svg>  Agregar a Favorito</a>
                        </div>
                    </div>                  

                </div>    
</div>
 <div class="row mt-2">
    <div class="col text-center">
        <a (click)="onNext()" class="btn btn-primary ms-1">Siguiente <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
          </svg> </a> 
          
        <a  (click)="onPrevios()" class="btn btn-primary ms-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
          </svg>Atras  </a>
    </div>
 </div>

   
