<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="/home" ><strong>Noticias</strong> </a>      
      <a class="navbar-brand text-white" routerLink="/favorito" ><strong>Favoritos</strong> </a>     
      <a class="navbar-brand text-white" routerLink="/usuario" ><strong>Registrase</strong> </a>     
      <a class="navbar-brand text-white" routerLink="/login" ><strong>Iniciar</strong> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <div class="d-flex">
          <input #txtBuscar 
                (keyup.enter)="buscarNoticia( txtBuscar.value )"
                 class="form-control me-2" 
                 type="search" 
                 placeholder="Buscar Noticias" 
                 aria-label="Search">
          <button (click)="buscarNoticia( txtBuscar.value )"
           class="btn btn-outline-success" type="submit">Buscar</button>
        </div>
      </div>
    </div>
  </nav>
