       <div class="row">
            <div class="col text-center">
                <h5><strong>Mis noticias favoritas</strong> </h5>
            </div>
       </div>
       
       
    <div class="row">                     
        <div class="col-lg-3 mt-5" *ngFor="let item of noticias" >       
            <div class="text-center" >
              <img src="{{ item.image_url }}" class="fotos" height="200px" width="200px">
            </div>
            <div class="text-center" >
            <h6><strong>{{ item.title | slice:0:60 }}...</strong></h6>
            </div>
            <div class="row">
                <div class="col-12" >
                    <p class="text-justify"> {{ item.summary | slice:0:60}} ...</p>
                    
                </div>
                <div class="col-12">
                    <p>Fecha publicación : {{ item.published_at | date: 'd MMM y' }}</p>
                </div>
                <div class="col-12 text-center ">
                     <a (click)="delete(item.id)"  class="btn btn-danger text-white" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg></a>
                </div>
            </div>
           

        </div>    
</div>